{% extends 'base.html.twig' %}

{% block title %}Hello RestController!{% endblock %}

{% block body %}
    {{ json }}
<h1>{{ message }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit"  value="submit"/>
    {{ form_end(form) }}

{% endblock %}
